.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(133, 133, 133, 0.5); 
    z-index: 20;
}

.container {
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 150px);
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    z-index: 21;
}
